/* Webfont: Advocaat-BoldItalic */@font-face {
    font-family: 'Advocaat';
    src: url('Advocaat-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Advocaat-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Advocaat-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Advocaat-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Advocaat-BoldItalic.svg#Advocaat-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

