/* Webfont: Advocaat-Bold */@font-face {
    font-family: 'Advocaat';
    src: url('Advocaat-Bold.eot'); /* IE9 Compat Modes */
    src: url('Advocaat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Advocaat-Bold.woff') format('woff'), /* Modern Browsers */
         url('Advocaat-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Advocaat-Bold.svg#Advocaat-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

