/* Webfont: GAPSlabSerif-Regular */@font-face {
    font-family: 'GAPSlabSerif';
    src: url('GAPSlabSerif-Regular.eot'); /* IE9 Compat Modes */
    src: url('GAPSlabSerif-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('GAPSlabSerif-Regular.woff') format('woff'), /* Modern Browsers */
         url('GAPSlabSerif-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('GAPSlabSerif-Regular.svg#GAPSlabSerif-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

